	
div.layout-template
{
	zoom: 1;
	width: 500px;
	height: 45px;
	overflow: hidden;
}

div.layout-template:after
{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.layout-template div.layout-template-image,
div.layout-template div.layout-template-description
{
	float: left;
}

div.layout-template-image img
{
	width: 32px;
	height: 32px;
	margin: 3px;
	border: none;
}
        
div.item-types
{
	zoom: 1;
	width: 500px;
	height: 45px;
	overflow: hidden;
}

div.item-types:after
{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.item-types div.item-types-image,
div.item-types div.item-types-description
{
	float: left;
}

div.item-types-description 
{
    width: 250px;
}

div.item-types-description small 
{
    display: block; /* for IE */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

/* Collase functional */
a.item-edit-field-group-button-collapse
{
	display: inline-block;
	background-image: url(/Admin/Images/Ribbon/expand.png);
	background-repeat: no-repeat;
	background-position: center;
    border: 1px solid transparent;
	margin-left: 6px;
	margin-bottom: -2px;
	width: 24px;
	height: 10px;
}

a.item-edit-field-group-button-collapse:hover
{
    border: 1px solid #D5DFE5;
}

a.item-edit-field-group-button-collapse.collapsed
{
	background-image: url(/Admin/Images/Ribbon/collapse.png);
}

table.item-edit-field-group-content.collapsed
{
	display: none;
}