#copyWaitPanel
{
	width:350px;
}

span.ShowFalse, li.ShowFalse
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; 
	filter:alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

#myribbon
{
	min-width:838px;
}

.HideTrue
{
	display:none;
}

.ShowTrue
{
	display:inherit;
}

.ShowFalse
{
	display:none;
}

.Infobar
{
	position:relative;
	margin:3px;
}

.WorkflowState
{
	float:left;
	margin-right:2px;
}

#Area_1
{
	background-color:#006E12;
}

.C0
{
	vertical-align:middle;
	padding:0px;
	margin:0px;
	width:50px;
	line-height:16px;
	height:16px;
	white-space: nowrap;
	text-align:right;
}

.C0 i {
    padding-top: 12px;
}

.C0 input {
   vertical-align: middle;
}

.C1
{
	vertical-align:middle;
	padding:0px;
	width:60px;
	text-align:center;
}

.C1 img
{
	vertical-align:middle;
}
	
.C2
{
	white-space:nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
	width:190px;
}

.C3_1
{
	width:90px;
	text-align:left;
}

.C3
{
	width:75px;
	text-align:center;
}

.C3_2
{
	width:55px;
	text-align:center;
}

.C3_3
{
	width:45px;
	text-align:center;
}

.C4
{
	width:180px;
	text-overflow: ellipsis;
    overflow: hidden;
	white-space:nowrap;
}

.C4_1
{
	width:160px;
}
	
.C5
{
	white-space:nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
	width:125px;
}
	
.C6
{
	width:0px;
}


@media (max-width: 670px) {
	.C3 {
		display:none!important;
	}
}

@media (max-width: 820px) {
	.C4 {
		display:none!important;
	}
}

@media (max-width: 1000px) {
	.C4_1 {
		display:none!important;
	}
}