@import url('Paging.css');
table.DatamanagementPublishingLayoutTable 
{
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	width: 280px;
	background-color: #fff;
	border: 1px #000 solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.DatamanagementPublishingLayoutTable td 
{
	background-color: #fff;
	color: #000;
	padding: 4px;
	text-align: left;
	border: 1px #000 solid;
}

table.DatamanagementPublishingLayoutTable th
{
	background-color: #fff;
	color: #fff;
	padding: 4px;
	text-align: left;
	border-bottom: 1px #000 solid;
	font-size: 12px;
	font-weight: bold;
}
 