.custom-list ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    min-height: 150px;
    height: 156px;
    min-width: 300px;
    float: left;
    border: 1px #bdbdbd solid;
    box-sizing: border-box;
}

.custom-list ul li {
    cursor: pointer;
    list-style: none;
    margin: 0;
    font-size: 14px;
    padding: 5px 6px;
    border: 0;
    position: relative;
    height: 31px;
    box-sizing: border-box;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 21px;
}

    .custom-list ul li:hover {
        background: #eeeeee;
    }

    .custom-list ul li.selected,
    .custom-list ul li.selected:hover {
        background-color: #0085CA;
        color: #ffffff;
    }

.custom-list .buttons-wrap {
    float: left;
    vertical-align: top;
}

    .custom-list .buttons-wrap button {
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
        background: #ffffff;
        transition: all,100ms,ease;
        border: 1px #bdbdbd solid;
        border-left: 0;
        border-bottom: 0;
        box-sizing: content-box;
        padding: 0;
        outline: none;
    }

        .custom-list .buttons-wrap button i {
            font-size: 14px;
        }

    .custom-list .buttons-wrap button:last-child {
        border-bottom: 1px #bdbdbd solid;
    }


/******************/

.columns-selector {
    margin: 0;
    padding: 0;
}

.columns-selector li {
    margin: 0;
    padding: 0;
    list-style: none;
}