/*.card {
    background-color: transparent;
    box-shadow: none;
}*/

.card-header {
    flex-basis: 20px;
}

.card-header-subtitle {
    color: #9E9E9E;
}

.card-body {
    max-height: calc(100vh - 216px);
    overflow: auto;
    position: relative;
}

.fields-bulk-edit-containter .card-body {
    max-height: calc(100% - 216px);
    overflow: initial;
    position: relative;
}

.pcm-list-header {
    width: 100%;
    height: 28px;
    vertical-align: bottom;
    padding-top: 2px;
    box-sizing: border-box;
    flex-basis: 28px;
}

    .pcm-list-header .control-label {
        display: none;
    }

    .pcm-list-header label {
        right: -10px;
    }

.pcm-list-flag {
    box-sizing: border-box;
    min-width: 302px;
    line-height: 34px;
}

    .pcm-list-flag .flag-icon {
        padding-right: 16px;
        background-position: 0;
    }

.preview-icon {
    font-size: 17px;
    cursor: pointer;
}

.pcm-list-flag-left {
    width: 200px;
    min-width: 200px;
    display: inline-block;
}

.pcm-wrap {
    flex: 9999;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.pcm-wrap-header {
    flex-basis: 35px;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}

.pcm-list {
    overflow-y: scroll;
    flex: 9999;
    display: flex;
    flex-direction: column;
}

    .pcm-list .pcm-list-item:first-child .pcm-list-left,
    .pcm-list .pcm-list-item:first-child .pcm-list-fields-header-info {
        border-top: 0;
    }

.pcm-list-item {
    position: relative;
}

.pcm-list-item-header {
    width: calc(100% - 10px);
    display: inline-block;
    padding: 0 8px;
}

.cursor-pointer {
    cursor: pointer;
}

.align-center {
    text-align: center;
}

.pcm-list-item-header-title {
    color: #616161;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
    box-sizing: border-box;
    float: left;
    line-height: 36px;
    font-size: 13px;
}

.pcm-list-item-header-info {
    color: #9E9E9E;
    padding-left: 5px;
    font-size: 10px;
    display: inline-block;
    min-height: 18px;
}

.pcm-list-item-body {
    display: flex;
    width: 100%;
}

.pcm-list-item:last-child {
    border-bottom: 0;
}

.pcm-list-fill {
    flex: 1;
    display: flex;
}

    .pcm-list-fill .pcm-list-left {
        padding-bottom: 0;
        border-top: 0;
    }

.pcm-list-item .form-group:not(.checkbox-ctrl):not(.RadioButtonList):not(.CheckBoxList):not(.label) {
    border: 0;
    margin-bottom: 0px;
    min-width: 302px;
}

.label.form-group {
    min-width: 170px;
}


    .label.form-group .help-block.info {
        float: left;
    }

.pcm-list-item .groupbox {
    border-bottom: none;
}

.pcm-list-item .form-control,
.pcm-list-item .std,
.pcm-list-item .selectpicker {
    width: calc(100% - 8px);
}

.pcm-list-item input[type=number].std,
.pcm-list-item input[type=number].form-control {
    max-width: 100%;
}

.pcm-list-item .form-group .left-indent {
    margin: 0;
}

.pcm-list-item .form-control:disabled,
.pcm-list-item .std:disabled,
.pcm-list-item .selectpicker:disabled,
.pcm-list-item .form-control.disabled,
.pcm-list-item .std.disabled,
.pcm-list-item .selectpicker.disabled,
.pcm-list-item .checkbox.disabled + label:before,
.pcm-list-item .checkbox:disabled + label:before,
.pcm-list-item .radio .disabled + label:before,
.pcm-list-item .radio :disabled + label:before {
    background-color: #f5f5f5;
    border: 0;
}

.pcm-list-item .form-control:focus,
.pcm-list-item .std:focus,
.pcm-list-item .selectpicker:focus,
.pcm-list-item .DateSelectorLabel.focused {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.34);
    transition: all 200ms;
    border: 1px solid #0085CA;
}

.pcm-list-item .selectpicker {
    width: 140px;
}

.pcm-list-check-all {
    padding: 8px;
}

.pcm-list-check {
    min-height: 36px;
    padding: 8px 0 0 0;
    box-sizing: border-box;
}

    .pcm-list-check > .dw-ctrl.checkbox-ctrl {
        min-width: inherit;
    }

.pcm-list-left {
    border-top: 1px solid #e0e0e0;
    display: inline-block;
    background-color: #f5f5f5;
    font-size: 11px;
    color: #bdbdbd;
    width: 120px;
    min-width: 120px;
    padding-bottom: 10px;
}

.pcm-list-left-info {
    color: #5e5e5e;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    display: block;
}

.pcm-list-left-variants {
    max-width: 168px;
}

.pcm-thumb {
    border: 1px solid #eee;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 10px;
    width: 102px;
    height: 102px;
    cursor: pointer;
    background-color: #fff;
    transition: all ease-in 0.2s;
    position: relative;
    text-align: center;
    line-height: 102px;
}

    .pcm-thumb > img {
        vertical-align: middle;
    }

    .pcm-thumb i {
        margin-top: 22px;
        font-size: 22px;
        opacity: 1;
        transition: all ease-in 0.2s;
    }

.img-responsive.missing-image {
    height: auto;
}

.pcm-list-fields,
.pcm-simple-variant-info,
.pcm-list-variant-fields {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 5px;
    background-color: #fff;
}

.pcm-list .pcm-list-fields,
.pcm-simple-variant-info,
.pcm-list-variant-fields {
    width: 100%;
}


.pcm-simple-variant-info {
    padding: 16px;
}

.pcm-list-item.variant .pcm-list-variant-fields {
    padding: 0px;
}

.pcm-list-fields--head {
    padding-left: 16px;
    padding-right: 32px;
    padding-bottom: 0;
}

.pcm-list-fields-header-info {
    display: inline-block;
    vertical-align: top;
    padding: 0 16px;
    min-width: 100%;
    background-color: #f5f5f5;
    min-height: 41px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.product-updated-info {
    min-width: 302px;
    line-height: 36px;
    display: inline-block;
    font-size: 14px;
    color: #5e5e5e;
    background-color: #f5f5f5;
}

.pcm-list-fields-table {
    width: 100%;
}

    .pcm-list-fields-table td:first-child {
        width: 180px;
        min-width: 180px;
    }

    .pcm-list-fields-table td {
        vertical-align: top;
    }

.pcm-list-table-row {
    height: 35px;
}

td.pcm-list-table-row-label {
    text-transform: uppercase;
    color: #9E9E9E;
    font-size: 12px;
    width: 100px;
    min-width: 100px;
}

.pcm-list-table-row .pcm-list-table-file-field-label {
    text-transform: uppercase;
    color: #9E9E9E;
    font-size: 12px;
}

.pcm-list-fields:not(.pcm-simple-variant-info) .pcm-list-table-row td:first-child:nth-last-child(2):not(.label),
.pcm-list-fields:not(.pcm-simple-variant-info) .pcm-list-table-row td:first-child:nth-last-child(2) ~ td {
    width: 100.00%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(3):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(3) ~ td {
    width: 50.00%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(4):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(4) ~ td {
    width: 33.33%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(5):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(5) ~ td {
    width: 25%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(6):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(6) ~ td {
    width: 20%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(7):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(7) ~ td {
    width: 16.66%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(8):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(8) ~ td {
    width: 14.28%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(9):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(9) ~ td {
    width: 12.5%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(10):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(10) ~ td {
    width: 11.11%;
}

.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(11):not(.label),
.pcm-list-fields .pcm-list-table-row td:first-child:nth-last-child(11) ~ td {
    width: 10%;
}

.pcm-list-fields .pcm-list-table-row td:not(.label) {
    width: 302px;
}

.pcm-list-table-row-label__text {
    width: 100px;
    word-break: break-all;
}

.pcm-list-table-row-label--condensed {
    width: 28px;
}

.pcm-list-table-row-label--md {
    width: 88px;
}

.pcm-list-fields-table-info {
    font-size: 18px;
}

#cellContent .floating-actionbar {
    left: 280px !important;
    width: calc(100% - 280px);
}

.pcm-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
}

.pcm-list-item .DateSelectorLabel {
    width: calc(100% - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.pcm-list-item .form-group .input-group.date-picker .form-group-input {
    max-width: calc(100% - 102px);
}

.pcm-list-item .form-group .form-group-input {
    width: calc(100% - 8px);
}

.form-group.link-manager-container .input-group .form-group-input {
    width: calc(100% - 102px);
}

.pcm-list-item .filemanager .filemanager-thumbnail {
    max-width: calc(100% - 39px);
}

.Toolbar {
    flex-basis: 40px;
}

    .Toolbar ul {
        display: inline-block;
    }

        .Toolbar ul.right-menu {
            float: right;
        }

    .Toolbar span.right-menu-label {
        margin-top: 6px;
        margin-right: 7px;
        font-style: normal;
        display: inline-block;
    }

    .Toolbar ul.right-menu li button {
        padding: 4px;
        width: 32px !important;
    }

        .Toolbar ul.right-menu li button:hover,
        .Toolbar ul.right-menu li button.active {
            color: white;
        }

        .Toolbar ul.right-menu li button i {
            margin: 0;
            padding: 0;
        }

.rich-text-value-editor {
    word-break: break-all;
    display: block;
    height: 100px;
    overflow: auto;
}

    .rich-text-value-editor.disabled {
        color: #aaaaaa;
        background-color: whitesmoke;
        border: none;
        cursor: default;
    }

    .rich-text-value-editor a {
        color: #0085CA;
        text-decoration: underline;
    }

.fa.size-3x,
.md.size-3x {
    width: 48px;
    height: 48px;
    font-size: 38px;
}

.variant-tree {
    overflow-x: auto;
    padding-bottom: 10px;
    background: #f5f5f5;
}

    .variant-tree li {
        list-style-type: none;
        padding: 0 0 0 0;
        padding-left: 10px;
        margin-left: 0;
        white-space: nowrap;
        box-sizing: border-box;
    }

    .variant-tree > ul:first-child > li {
        padding-left: 0;
    }

    .variant-tree ul {
        margin: 0;
        display: table;
        width: 100%;
        padding-left: 0;
    }

    .variant-tree .variant-tree-btn {
        border: none;
        border-bottom: 1px #e0e0e0 solid;
        background-color: transparent;
        display: inline-block;
        color: #5e5e5e;
        font-size: 11px;
        padding: 10px;
        white-space: nowrap;
        text-decoration: none;
        min-width: 100%;
        text-overflow: ellipsis;
        text-align: left;
        transition: all 250ms ease 0s;
        outline: none !important;
        -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
        cursor: pointer;
        box-sizing: border-box;
    }

        .variant-tree .variant-tree-btn.active {
            background-color: #e0e0e0;
        }

        .variant-tree .variant-tree-btn .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .variant-tree .variant-tree-btn .img-responsive {
            display: inline-block;
            max-width: 30px;
            max-height: 30px;
            /*padding-right: 7px;*/
            vertical-align: middle;
        }

        .variant-tree .variant-tree-btn i.img-responsive {
            text-align: center;
            width: 30px;
            margin-right: 9px;
            padding-right: 0;
        }

        .variant-tree .variant-tree-btn .img-responsive.center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .variant-tree .variant-tree-btn .variant-image-container i {
            padding-right: 0;
        }

        .variant-tree .variant-tree-btn .variant-image-container {
            width: 30px;
            height: 30px;
            border: 1px solid #eee;
            display: inline-block;
            position: relative;
            margin-right: 7px;
            background-color: #fff;
        }

        .variant-tree .variant-tree-btn i {
            padding: 8px 7px 8px 7px;
            margin: -8px 0px -8px -7px;
        }

.variant-tree-header {
    font-size: 14px;
    color: #5e5e5e;
    border-bottom: 1px #e0e0e0 solid;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}

.pcm-editor-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: calc(100% - 8px);
}

@media screen and (max-width: 768px) {
    .pcm-editor-container {
        flex-direction: column;
    }
}

.pcm-editor {
    flex: 1;
    padding: 0px 8px 8px;
}

    .pcm-editor.focused {
        background-color: #ededed;
    }

    .pcm-editor .pcm-editor-content {
        border: 1px solid transparent;
        min-width: 300px;
        height: calc(100vh - 181px);
    }

        .pcm-editor .pcm-editor-content .cke {
            height: 100%;
        }

            .pcm-editor .pcm-editor-content .cke .cke_inner {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

                .pcm-editor .pcm-editor-content .cke .cke_inner .cke_top {
                    flex-grow: 0;
                    flex-shrink: 0;
                }

                .pcm-editor .pcm-editor-content .cke .cke_inner .cke_contents {
                    flex-grow: 1;
                }

                .pcm-editor .pcm-editor-content .cke .cke_inner .cke_bottom {
                    flex-basis: 18px;
                    flex-shrink: 0;
                    flex-grow: 0;
                }

    .pcm-editor.focused .pcm-editor-content {
        border: 1px solid;
    }

.pcm-editor-flag {
    height: 27px;
}

    .pcm-editor-flag i {
        margin-top: 5px;
    }

.images-container,
.related-products-container {
    width: 100%;
    white-space: nowrap;
    display: inline-block;
}

.images-container .field-container-with-border {
    min-height: 89px;
}

.field-container-with-border {
    max-height: 267px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.image-cnt {
    display: inline-block;
    /*max-width: 100px;
    max-height: 66px;*/
    text-align: center;
    padding: 4px;
    margin: 2px;
    border: 1px solid #f5f5f5;
    position: relative;
    float: left;
    width: 75px;
    height: 75px;
}

.image-add-button {
    width: 50%;
    height: 100%;
    border: 0;
    background: transparent;
    opacity: 0;
    transition: all 0.25s ease;
    font-size: 20px;
}

    .image-add-button:hover {
        background: #f5f5f5;
    }

.image-buttons-container {
    border-style: dashed;
}

    .image-buttons-container:after {
        font-family: "FontAwesome";
        content: '\f067';
        font-size: 40px;
        color: #a31545;
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        margin-left: -16px;
        margin-top: -20px;
    }

    .image-buttons-container:hover:after {
        content: "";
    }

    .image-buttons-container:hover .image-add-button {
        opacity: 1;
    }

.image-upload-container,
.image-browse-container {
    width: 75px;
    float: left;
}

.image-cnt img {
    max-height: inherit;
}

/*.primary-image-container:after {
        z-index: 2;
        font-family: "FontAwesome";
        content: '\f005';
        color: #fff;
        position: absolute;
        top: 10px;
        left: 10px;
    }

.pattern-image-container:after {
    z-index: 2;
    font-family: "FontAwesome";
    content: '\f1a5';
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}*/

.image-cnt > .image-block + i {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;
}


    .image-cnt > .image-block + i.color-default {
        color: #fff;
    }

.image-cnt .image-badge {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 0;
    top: -15px;
    left: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #a31545;
    transform: rotate(225deg);
}

.details-image-container.inherited .image-badge {
    opacity: 0.5;
}

.inherited .image-block {
    opacity: 0.5;
}

.variant-icon {
    margin-top: 16px;
}

.image-popup {
    position: absolute;
    z-index: 10000;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
}

    .image-popup img {
        height: 92%;
        width: 100%;
    }

.image-popup-title {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.image-menu {
    z-index: 2;
    width: 30%;
    background-color: #eee;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    opacity: 0.85;
}

    .image-menu:hover {
        display: block;
    }


.image-menu-button-container {
    cursor: pointer;
}

.image-menu-delete-button {
}

.image-menu-button-container[disabled],
.inherited .image-menu-button-container:not(.image-menu-expand-button) {
    pointer-events: none;
    opacity: 0.5;
}

.flag-header {
    border-top: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    flex: 9;
}

.updated-header-fill {
    /*border-bottom: 1px solid #e0e0e0;*/
    min-height: 41px;
    padding: 0 8px;
}

.missing-image {
    width: 100px;
}

.btn-left-indent {
    margin-left: 180px;
}

.updated-header-fill .infobar {
    padding: 2px 0;
    margin: 4px 0;
}

    .product-updated-info > .infobar, .product-updated-info > .infobar > .alert-container, .updated-header-fill .infobar > .alert-container {
        padding: 4px 0px;
    }

#ProductListContent {
    flex: 9999;
}

.tools-ribbongroup-item {
    margin-bottom: 5px;
}

    .tools-ribbongroup-item:last-child {
        margin-bottom: 0;
    }

.Ribbon .tabarea .SCL input.std {
    padding: 0px 4px 2px 4px;
}

.Ribbon .tabarea .SCL select.std {
    padding: 0px 4px 2px 0;
}

.Ribbon .tools-ribbongroup-item .form-group,
.Ribbon .tools-ribbongroup-item .std {
    margin-bottom: 0;
    vertical-align: top;
}

    .Ribbon .tools-ribbongroup-item .form-group .std {
        margin-bottom: 0;
    }

.Ribbon .tabarea .SCL .tools-ribbongroup-item > i.fa,
.Ribbon .tabarea .SCL .tools-ribbongroup-item > i.md {
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
    margin-right: 4px;
}


.tools-ribbongroup-item input[type="checkbox"].checkbox + label {
    margin-top: 3px;
}

.fm_column_thumbnail_img {
    background-color: rgba(247, 247, 247, 0.72);
}

    .fm_column_thumbnail_img.getimage img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 100% !important;
        max-width: 100%;
    }

.sorting-searchfield {
    width: 125px;
}

.sorting-dropdown {
    width: 149px;
    padding: 3px 4px 2px 0;
}

.sorting-column {
    margin: 0 6px 0 0;
}

.pcm-list .list-pagination {
    border-top: 1px #e0e0e0 solid;
}

#EditorDialog .bodywrapper .boxbody {
    overflow-x: auto;
}

    #EditorDialog .bodywrapper .boxbody iframe {
        min-height: 150px;
    }

.Ribbon .tabarea .SCL .language-ribbon-panel {
    padding: 0px 4px;
    width: 147px;
}

    .Ribbon .tabarea .SCL .language-ribbon-panel:after {
        clear: both;
        display: table;
        content: "";
    }

    .Ribbon .tabarea .SCL .language-ribbon-panel .language-more-button {
        float: left;
        width: 100%;
        height: 16px;
        text-align: center;
        cursor: pointer;
    }

    .Ribbon .tabarea .SCL .language-ribbon-panel .language-checkbox {
        padding: 1px 3px;
        margin: 2px 3px;
        float: left;
    }

        .Ribbon .tabarea .SCL .language-ribbon-panel .language-checkbox:nth-child(5n+1) {
            clear: left;
        }

        .Ribbon .tabarea .SCL .language-ribbon-panel .language-checkbox i.fa {
            height: 15px;
            width: 13.33px;
            font-size: 14px;
            margin-right: 4px;
            text-align: center;
            vertical-align: baseline;
        }

    .Ribbon .tabarea .SCL .language-ribbon-panel .language-more-button i.md {
        height: 15px;
        width: 13.33px;
        font-size: 20px;
        margin-right: 4px;
        text-align: center;
        vertical-align: baseline;
    }

.Ribbon .tabarea table tr td .contextmenu .language-ribbon-panel a:hover:not(.disabled) {
    background-color: #e91e63 !important;
}

.Ribbon .tabarea .SCL .contextmenu .language-ribbon-panel a i {
    height: 15px;
    width: 1.33333333em;
    line-height: 1em;
    font-size: 13px;
    margin-right: 0;
    text-align: center;
}

.variant-selection-tree {
    overflow-x: auto;
    padding-bottom: 10px;
}

    .variant-selection-tree li {
        list-style-type: none;
        padding: 0 0 0 0;
        padding-left: 10px;
        margin-left: 0;
        white-space: nowrap;
        box-sizing: border-box;
    }

    .variant-selection-tree > ul:first-child > li {
        padding-left: 0;
    }

    .variant-selection-tree ul {
        margin: 0;
        display: table;
        width: 100%;
        padding-left: 0;
    }

    .variant-selection-tree .variant-selection-tree-btn {
        white-space: nowrap;
        text-decoration: none;
        min-width: 100%;
        text-overflow: ellipsis;
        text-align: left;
        transition: all 250ms ease 0s;
        outline: none !important;
        -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
        box-sizing: border-box;
        margin-bottom: 5px;
    }

        .variant-selection-tree .variant-selection-tree-btn i:first-child {
            width: 8px;
        }

        .variant-selection-tree .variant-selection-tree-btn label {
            cursor: pointer;
        }

        .variant-selection-tree .variant-selection-tree-btn .checkbox-ctrl.form-group {
            display: inline-block;
            vertical-align: text-top;
            width: auto;
        }

    .variant-selection-tree.with-variants .variant-selection-tree-btn .checkbox-ctrl.form-group .form-group-input {
        margin-left: 6px;
    }

    .variant-selection-tree.with-variants .variant-selection-tree-btn .checkbox-ctrl.form-group:first-child .form-group-input {
        margin-left: 22px;
    }

    .variant-selection-tree .variant-selection-tree-btn.active {
        background-color: #e0e0e0;
    }

    .variant-selection-tree .variant-selection-tree-btn .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .variant-selection-tree .variant-selection-tree-btn .img-responsive {
        display: inline-block;
        max-width: 30px;
        max-height: 30px;
        /*padding-right: 7px;*/
        vertical-align: middle;
    }

    .variant-selection-tree .variant-selection-tree-btn i.img-responsive {
        text-align: center;
        width: 30px;
        margin-right: 9px;
        padding-right: 0;
    }

    .variant-selection-tree .variant-selection-tree-btn .img-responsive.center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .variant-selection-tree .variant-selection-tree-btn .variant-image-container i {
        padding-right: 0;
    }

    .variant-selection-tree .variant-selection-tree-btn .variant-image-container {
        width: 30px;
        height: 30px;
        border: 1px solid #eee;
        display: inline-block;
        position: relative;
        margin-right: 7px;
        background-color: #fff;
    }

    .variant-selection-tree .variant-selection-tree-btn i {
        padding: 8px 7px 8px 7px;
        margin: -8px 0px -8px -7px;
    }

.thumb-draft-icon {
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}

.multi-edit-field-selector-column select[multiple] {
    width: 100%;
    max-height: 260px;
}

.cat-field-row > .category-field .restore-to-inherited-btn {
    display: inline-block;
    cursor: pointer;
    text-align: right;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 20px;
    flex-grow: 0;
}

.cat-field-row > .category-field.inherited-val .restore-to-inherited-btn {
    color: #adadad;
    cursor: not-allowed;
}

.cat-field-row > .category-field .restore-to-inherited-btn i.color-default {
    color: inherit;
}

.cat-field-row .field-container {
    display: flex;
}

    .cat-field-row .field-container .form-group:not(.checkbox-ctrl):not(.RadioButtonList):not(.CheckBoxList):not(.label) {
        flex: 99;
    }

    .cat-field-row .field-container .form-group.RadioButtonList + .restore-to-inherited-btn, .cat-field-row .field-container .form-group.CheckBoxList + .restore-to-inherited-btn {
        margin-left: 8px;
    }

    .cat-field-row .field-container .form-group.checkbox-ctrl + .restore-to-inherited-btn {
        margin-top: 4px;
        align-items: baseline;
    }

    .cat-field-row .field-container .rich-text-editor + .restore-to-inherited-btn {
        margin-top: -24px;
        align-items: center;
    }

    .cat-field-row .field-container .filemanager-ctrl + .restore-to-inherited-btn {
        margin-top: 7px;
        align-items: baseline;
    }
