@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@Title("Frontpage template")
@MasterPageFile("Master/Main.cshtml")

<div class="container">
    <div class="dwcontent" id="content" title="Content"></div>
    <div class="dwcontent" id="sidebar" title="Sidebar"></div>
</div>

