html, body {
	height: 100%;
	margin: 0;
}

.Toolbar>ul .btn {
    box-sizing: border-box;
}

.Toolbar > ul .btn i {
    margin-bottom: 3px;
    margin-right: 0px;
}

.Toolbar > ul input[type="checkbox"].checkbox + label {
    margin-top: 5px;
}

#topbar {
	position: relative;
}

	#topbar .help {
		float: right;
	}

	#topbar input {
		vertical-align: middle;
	}

	#topbar .Toolbar {
		position: relative;
	}

.version-info {
	display: none;
}

.draft .version-info,
.workflow .version-info {
	background-image: url(/Admin/Images/Ribbon/icons/Small/information.png);
	background-repeat: no-repeat;
	background-position: 2px 50%;
	background-color: #fffebf;
	min-height: 20px;
	padding-left: 22px;
	line-height: 20px;
	border: solid 1px #abadb3;
	display: block;
	margin: 1px;
}

#status {
	position: absolute;
	top: 0;
	bottom: 2px;
	left: 30%;
	width: 40%;
	text-align: center;
	padding: 0 1em;
	line-height: 24px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

	#status > .content {
		display: inline-block;
	}

	#status.info {
		background: yellow;
		color: black;
	}

	#status.success {
		background: green;
		color: white;
	}

	#status.alert {
		background: orange;
		color: white;
	}

	#status.error {
		background: red;
		color: white;
	}

#content {
	border: none;
	overflow: auto;
	position: absolute !important;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
    height: 100%;
    padding: 0 !important;
}

	#content iframe {
		display: block;
		margin: 0;
		width: 100%;
		height: 100%;
	}

.fade
{
    opacity: 0;
}

.fade.fade-in-and-out {
    -webkit-animation: fade-in-out 4s linear forwards;
    animation: fade-in-out 4s linear forwards;
    opacity: 0;
}

.fade.fade-in-and-out:hover {
    opacity: 1;
}

@-webkit-keyframes fade-in-out {
  40% { opacity: 1; }
  60% { opacity: 1; }
}

@keyframes fade-in-out {
  40% { opacity: 1; }
  60% { opacity: 1; }
}