div.dropDownArea a.dropDown 
{
	display: block;
	text-decoration: none;
	border: 1px solid #c3c3c3;
	cursor: default;
	color: #000000;
	background-color: #FFFFFF;
}

div.dropDownArea a.dropDownDisabled
{
	border: 1px solid #c3c3c3 !important;
	color: #c3c3c3 !important;
}

div.dropDownArea a.dropDownDisabled *
{
	color: #c3c3c3 !important;
}

div.dropDownArea a.dropDownActive
{
	border: 1px solid #b09460;
	border-bottom: 0px solid black !important;
}

div.dropDownArea a.dropDown:visited 
{
	color: #000000;
}

div.dropDownArea a.dropDown:focus 
{
	outline: none;
}

div.dropDownArea a.dropDown:hover 
{
	border-top: 1px solid #b09460;
	border-bottom: 1px solid #b09460;
	border-left: 1px solid #b09460;
	border-right: 1px solid #b09460;
}
	
div.dropDownArea a.dropDown span.expander,
div.dropDownArea a.dropDown span.selectedItemPlaceholder 
{
	display: block;
	float: left;
	height: 100%;
	overflow: hidden;
}

div.dropDownArea a.dropDown span.expander 
{
	float: right;
	border-left: 1px solid #c3c3c3;
	background-color: #FFFFFF;
	
	background-image: url('/Admin/Images/Ribbon/UI/TemplatedDropDownList/arrow.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

div.dropDownArea a.dropDownDisabled span.expander
{
	background-color: #f1f1f1 !important;
}

div.dropDownArea div.dropDownClearFix
{
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

div.dropDownArea a.dropDown span.expander:hover
{
	background-color: #ffebc4;
}

div.dropDownArea a.dropDownDisabled span.expander:hover
{
	background-color: #f1f1f1 !important;
}

div.dropDownArea a.dropDown span.expanderActive 
{
	background-color: #febf3f !important;
}

div.dropDownArea div.dropDownItems 
{
	position: absolute;
	background-color: #FFFFFF;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid #b09460;
	width: auto;
	height: 250px;
	z-index: 5;
	box-shadow: 2px 2px 4px #888;
}

div.dropDownArea div.dropDownItems ul.dropDownItemsList 
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

div.dropDownArea div.dropDownItems ul.dropDownItemsList li.listItem
{
	white-space: nowrap;
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	cursor: default;
	
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

div.dropDownArea div.dropDownItems ul.dropDownItemsList li.dw-list-item-disabled
{
    color: #b5b5b5 !important;
    background-color: #FFFFFF !important; 
    border-top: 1px solid #FFFFFF !important;
	border-bottom: 1px solid #FFFFFF !important;
}

div.dropDownArea div.dropDownItems ul.dropDownItemsList li.listItemAlternative
{
	background-color: #f7f7f9;
}

div.dropDownArea div.dropDownItems ul.dropDownItemsList li.listItem:hover
{
	background-color: #ffebc4;
	
	border-top: 1px solid #b09460;
	border-bottom: 1px solid #b09460;
}

div.dropDownArea div.dropDownItems ul.dropDownItemsList li.dw-list-item-disabled:hover
{
    background-color: #FFFFFF !important; 
    border-top: 1px solid #FFFFFF !important;
	border-bottom: 1px solid #FFFFFF !important;
}

div.dropDownArea div.dropDownItems ul.dropDownItemsList li.listItem:first-child:hover
{
	border-top: 1px solid #ffffff !important;
}

/* Note: doesn't work in IE */
div.dropDownArea div.dropDownItems ul.dropDownItemsList li.listItem:last-child:hover
{
	/*border-bottom: 1px solid #ffffff !important;*/
}

div.dropDownArea div.dropDownItems ul.dropDownItemsList li.listItemSelected
{
	background-color: #fff3dc !important;
}
