.fieldsTable {
    border: 0;
    width: 100%;
    border-collapse: collapse;
}

    .fieldsTable tr td,
    .fieldsTable tr th {
        padding: 5px 8px;
        border-bottom: #efefef solid 1px;
        text-align: center;
        width: 15%;
    }

    .fieldsTable tr th {
        background-color: #f5f5f5;
    }

    .fieldsTable tr:last-child td {
        border-bottom: 0;
    }

    .fieldsTable td:first-child,
    .fieldsTable th:first-child {
        text-align: left;
        white-space: nowrap;
        width: 25%;
    }

    .fieldsTable div.radio {
        margin-top: 0px;
        margin-bottom: 0px;
    }

.color-box {
    width: 22px;
    height: 22px;
}

#dlgIconSettings .filters {
    background-color: #f5f5f5;
    width: calc(100% + 16px);
    padding: 5px 10px;
    left: -16px;
    top: -16px;
    position: relative;
}

    #dlgIconSettings .filters .form-group {
        width: auto;
        margin-right: 16px;
        vertical-align: top;
        margin-bottom: 0;
    }

    #dlgIconSettings .filters .control-label {
        padding-top: 7px;
        width: 110px;
    }

    #dlgIconSettings .filters .control-label,
    #dlgIconSettings .filters .form-group-input {
        display: inline-block;
        vertical-align: top;
    }

#dlgIconSettings .icon-settings {
    display: inline-block;
}

    #dlgIconSettings .icon-settings .icon-block {
        width: 200px;
        float: left;
        display: flex;
        padding-top: 9px;
        padding-left: 6px;
        cursor: pointer;
    }

        #dlgIconSettings .icon-settings .icon-block:hover,
        #dlgIconSettings .icon-settings .icon-block.selected {
            box-shadow: 0 8px 10px 0 rgba(0,0,0,.2);
            color: #000;
            background-color: #0085ca;
        }

        #dlgIconSettings .icon-settings .icon-block .icon-block-label {
            margin-top: 11px;
        }

.size-3x {
    width: 48px;
    height: 48px;
    font-size: 38px;
}

#UserAndGroupTypeIcon {
    width: 28px;
    height: inherit;
    font-size: 28px;
}
