html, body {
    background-color: #eee;
}

.large-icon {
    font-size: 32px;
}

    .large-icon .md {
        vertical-align: baseline;
    }

.page-type-select-icon {
    float: left;
    width: 28px;
}

.page-type-select-btn-center {
    vertical-align: top;
}

    .page-type-select-btn-center a.btn-link {
        padding-bottom: 0;
    }

.description-text {
    padding-left: 40px;
}