#SearchBox, #searchResult {
    display: inline-block;
    vertical-align: top;
}

.searchactions {
    padding: 3px 5px 5px;
    margin: 10px 4px 10px 4px;
    width: 224px;
    border: 0;
}

.searchsettings {
    padding: 3px 5px 5px; 
    margin: 10px 4px 10px 4px; 
    width: 224px; 
    border: 0;
}
