@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="paragraph">
    @if (!string.IsNullOrWhiteSpace(GetString("Item.Header")))
    {
        <h1>@GetString("Item.Header")</h1>
    }
    @GetValue("Item.Content")

    @if (!string.IsNullOrWhiteSpace(GetString("ParagraphModule")))
    {
        <div class="module">@GetValue("ParagraphModule")</div>
    }
</div>
