@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="grid">
    <div class="grid__col-auto grid__col--bleed">
        <div class="grid__cell">
            <div class="u-pull--left">
                <div class="collection">
                    @foreach (LoopItem page in GetLoop("Ecom:IntegrationCustomerCenter.PagesLoop"))
                    {
                        string active = (page.GetString("Ecom:IntegrationCustomerCenter.PageMenuName") == GetString("Ecom:IntegrationCustomerCenter.PageMenuName")) ? "checked" : "";
                        <a href="@page.GetString("Ecom:IntegrationCustomerCenter.PageLink")" class="btn btn--tag @active">@page.GetString("Ecom:IntegrationCustomerCenter.PageMenuName")</a>
                    }
                </div>
            </div>
        </div>
    </div>
    @GetValue("Ecom:IntegrationCustomerCenter.PageContent")
</div>