.large-icon {
    font-size: 64px;
}

.item-type {
    float: left;
    width: 256px;
    height: 192px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.item-type:hover {
    background-color: #f3f3f3;
}

.description {
    color: #cccccc;
}

.groupbox {
    border-bottom:none !important;
}
