.date-selector .date-selector-field .date-selector-label,
.date-selector .date-selector-field .date-selector-button
{
    float: left;
}

.date-selector .date-selector-field
{
    cursor: pointer;
}

.date-selector-disabled .date-selector-field
{
    cursor: default !important;
}

.date-selector .date-selector-field .date-selector-label
{
    font-size: 11px;
    text-align: center;
    background-color: #ffffff;
    height: 14px;
    border: 1px solid #abadb3;
    border-right: none;
    padding: 1px;
    padding-left: 2px;
    padding-right: 5px;
    color: #000000;
}

.date-selector-disabled .date-selector-field .date-selector-label
{
    color: #c3c3c3 !important;
    border: 1px solid #c3c3c3 !important;
    border-right: none !important;
}

.date-selector .date-selector-field .date-selector-button
{
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 0px;
    background: url('/Admin/Public/DateSelector/cal.png') top left no-repeat;
    background-color: #ffffff;
    border: 1px solid #abadb3;
    border-left: none;
}

.date-selector-disabled .date-selector-field .date-selector-button
{
    border: 1px solid #c3c3c3 !important;
    border-left: none !important;
    
    opacity: 0.3 !important;
    -moz-opacity: 0.3 !important;
    -webkit-opacity: 0.3 !important;
    filter: alpha(opacity = 30) !important;
}

.date-selector .date-selector-clear
{
    visibility: hidden;
    height: 1px;
    clear: both;
}

div.date-selector-calendar-outer
{
    padding: 5px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li
{
    float: left;
    list-style-type: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list
{
    margin-bottom: 5px;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li
{
    height: 16px;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright
{
    width: 16px;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft a,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright a
{
    display: block;
    width: 16px;
    height: 16px;
    margin: 0px;
    padding: 0px;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft a:active,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright a:active,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft a:focus,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright a:focus,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft a:hover,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright a:hover
{
    outline: none;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft a
{
    background: url('/Admin/Module/OMC/img/navigate_left_small.png') top left no-repeat;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft a:hover,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright a:hover
{
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    filter: alpha(opacity = 50);
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft a.date-selector-calendar-nav-notallowed,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright a.date-selector-calendar-nav-notallowed,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navleft a.date-selector-calendar-nav-notallowed:hover,
div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright a.date-selector-calendar-nav-notallowed:hover
{
    opacity: 0.3 !important;
    -moz-opacity: 0.3 !important;
    -webkit-opacity: 0.3 !important;
    filter: alpha(opacity = 30) !important;
    
    cursor: default !important;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-navright a
{
    background: url('/Admin/Module/OMC/img/navigate_right_small.png') top left no-repeat;
}

div.date-selector-calendar-outer ul.date-selector-calendar-month-list li.date-selector-calendar-month
{
    cursor: default;
    text-align: center;
    width: 157px;
}

div.date-selector-calendar-outer table.date-selector-calendar
{
    margin: 0px;
    padding: 0px;
    border: none;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-weekdays th,
div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td
{
    width: 25px;
    text-align: right;
    padding: 1px;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-weekdays th
{
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #dddddd;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td a
{
    display: block;
    border: 1px solid #ffffff;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td a:hover
{
    background-color: #ffebc4 !important;
    border: 1px solid #b09460 !important;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td a span
{
    display: block;
    margin-right: 6px;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td.date-selector-calendar-current a
{
    background-color: #fff5e2;
    border: 1px solid #d2c5ac !important;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td.date-selector-calendar-hidden a
{
    cursor: default;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td.date-selector-calendar-hidden a:focus,
div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td.date-selector-calendar-hidden a:active,
div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td.date-selector-calendar-hidden a:hover
{
    outline: none;
    background-color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td.date-selector-calendar-hidden a span
{
    color: #c3c3c3;
}

div.date-selector-calendar-outer table.date-selector-calendar tr.date-selector-calendar-day td.date-selector-calendar-today a
{
    border: 1px solid #e5d5b7;
}