@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
	string MaxSubmitsReachedText = GetString("Form.MaxSubmitsReachedText");
}
<div class="MaxSubmitsReachedText">
	@MaxSubmitsReachedText
</div>