<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ABCpdf" version="9.1.1.5" allowedVersions="[9.1.1.5]" targetFramework="net46" />
  <package id="Desktop.Analyzers" version="1.1.0" allowedVersions="[1.1.0]" developmentDependency="true" targetFramework="net46" />
  <package id="dotless" version="1.5.2" targetFramework="net46" />
  <package id="Dynamicweb" version="9.5.0" targetFramework="net46" />
  <package id="Dynamicweb.Analytics" version="1.1.0" targetFramework="net46" />
  <package id="Dynamicweb.AspNet" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Caching" version="2.1.0" targetFramework="net46" />
  <package id="Dynamicweb.Configuration" version="3.0.0" targetFramework="net46" />
  <package id="Dynamicweb.Content.Social.Adapters.ExternalAuthentication" version="2.1.2" targetFramework="net46" />
  <package id="Dynamicweb.Content.Social.Adapters.ExternalAuthentication.Okta" version="2.2.1" targetFramework="net46" />
  <package id="Dynamicweb.Content.Social.Adapters.FacebookAdapter" version="2.0.0" targetFramework="net46" />
  <package id="Dynamicweb.Content.Social.Adapters.GooglePlusAdapter" version="2.0.0" targetFramework="net46" />
  <package id="Dynamicweb.Content.Social.Adapters.LinkedInAdapter" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Content.Social.Adapters.OAuth" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Content.Social.Adapters.TwitterAdapter" version="2.0.0" targetFramework="net46" />
  <package id="Dynamicweb.Controls" version="1.24.6" targetFramework="net46" />
  <package id="Dynamicweb.Core" version="2.3.1" targetFramework="net46" />
  <package id="Dynamicweb.Core.UI" version="1.2.1" targetFramework="net46" />
  <package id="Dynamicweb.Dashboards" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Dashboards.Content" version="1.0.0" targetFramework="net46" />
  <package id="Dynamicweb.Dashboards.Ecommerce" version="1.1.0" targetFramework="net46" />
  <package id="Dynamicweb.Dashboards.Home" version="0.2.11" targetFramework="net46" />
  <package id="Dynamicweb.Dashboards.Marketing" version="1.3.4" targetFramework="net46" />
  <package id="Dynamicweb.Dashboards.Monitoring" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Dashboards.Repository" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Dashboards.Users" version="0.2.11" targetFramework="net46" />
  <package id="Dynamicweb.Data" version="1.5.6" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration" version="2.0.4" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Adapters.ConcatanateAdapter" version="0.1.0" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Adapters.VariantOptionsAdapter" version="0.1.0" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.AreaSpecific.UserExportAddIn" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.AreaSpecific.UserImportAddIn" version="1.0.4" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.CRMProvider" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.CsvProvider" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.DynamicwebProvider" version="2.0.3" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.DynamicwebViewProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.EcomProvider" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.ExcelProvider" version="2.1.2" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.ItemProvider" version="1.0.14" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.OrderProvider" version="1.0.8" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.SqlProvider" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.SqlViewProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.UserProvider" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.Providers.XmlProvider" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.ScheduledTaskAddIns.ADImportDataAddIn" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.ScheduledTaskAddIns.ExportDataAddin" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.ScheduledTaskAddIns.ImportDataAddIn" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.ScheduledTaskAddIns.ImportDataCustomRequestAddIn" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.ScheduledTaskAddIns.ImportDataFromMultipleRequests" version="1.0.0" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.ScheduledTaskAddIns.ImportDataWithPaging" version="1.0.0" targetFramework="net46" />
  <package id="Dynamicweb.DataIntegration.ScheduledTaskAddIns.ImportPerfionImagesAddIn" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.DataManagement" version="1.1.0" targetFramework="net46" />
  <package id="Dynamicweb.DataPortability" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.DataPortability.DataProviders" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.DataProcessing" version="1.0.10" targetFramework="net46" />
  <package id="Dynamicweb.Deployment" version="1.0.6" targetFramework="net46" />
  <package id="Dynamicweb.Deployment.DataItemProviders" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Diagnostics" version="3.1.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce" version="1.5.0" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.AltaPay" version="1.2.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.AuthorizeNet" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.AuthorizeNetAIM" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.BBSPayment" version="2.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.BeanstreamHostedForm" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.ChargeLogicConnect" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.CyberSource" version="1.1.6" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.Dibs" version="1.1.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.EPayPaymentWindow" version="1.0.5" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.KlarnaCheckout" version="1.0.6" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.Ogone" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.PayPalExpressCheckout" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.QuickPay3" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.QuickPayPaymentWindow" version="1.1.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.CheckoutHandlers.StripeCheckout" version="1.2.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.Economic" version="2.1.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.RMAProviders.Refund" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.RMAProviders.ReplaceWithDifferentProduct" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.RMAProviders.ReplaceWithSameProduct" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.SalesDiscounts.OrderFieldDiscount" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.SalesDiscounts.PriceFieldPriceProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.SalesDiscounts.ProductQuantityDiscount" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.SalesDiscounts.ShippingDiscount" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.SalesDiscounts.ShippingPaymentDiscount" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.SalesDiscounts.SimpleVoucherDiscount" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.SalesDiscounts.TotalSalesPriceDiscount" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.ShippingProviders.FedEx" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.ShippingProviders.GLS" version="1.0.5" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.ShippingProviders.PostDanmark" version="1.2.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.ShippingProviders.PostDanmarkServicePoint" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.ShippingProviders.Unifaun" version="1.2.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.ShippingProviders.UPS" version="2.0.0" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.ShippingProviders.USPS" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.Specialized" version="1.0.4" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.TaxProviders.AvalaraTaxProvider" version="1.1.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.TaxProviders.EcomTaxProvider" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.TaxProviders.VertexTaxProvider" version="1.1.1" targetFramework="net46" />
  <package id="Dynamicweb.Ecommerce.WebAPI" version="0.1.1" targetFramework="net46" />
  <package id="Dynamicweb.EmailMarketing" version="2.2.1" targetFramework="net46" />
  <package id="Dynamicweb.EmailMarketing.RecipientProviders.AbandonedCartProvider" version="1.0.4" targetFramework="net46" />
  <package id="Dynamicweb.EmailMarketing.RecipientProviders.BackInStockProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.EmailMarketing.RecipientProviders.UnresponsiveProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.EmailMarketing.ResendProviders.UnresponsiveResendProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Environment" version="3.2.1" targetFramework="net46" />
  <package id="Dynamicweb.Environment.Web" version="1.2.4" targetFramework="net46" />
  <package id="Dynamicweb.Extensibility" version="3.2.4" targetFramework="net46" />
  <package id="Dynamicweb.FilePublisher" version="2.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Forms" version="1.2.2" targetFramework="net46" />
  <package id="Dynamicweb.Forum" version="1.4.1" targetFramework="net46" />
  <package id="Dynamicweb.Gallery" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Hosting" version="1.1.0" targetFramework="net46" />
  <package id="Dynamicweb.Imaging" version="2.3.11" targetFramework="net46" />
  <package id="Dynamicweb.Indexing" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Indexing.Lucene" version="1.0.16" targetFramework="net46" />
  <package id="Dynamicweb.ItemCreator" version="1.1.1" targetFramework="net46" />
  <package id="Dynamicweb.ItemPublisher" version="1.0.4" targetFramework="net46" />
  <package id="Dynamicweb.LessCompiler" version="1.1.2" targetFramework="net46" />
  <package id="Dynamicweb.LoadBalancing" version="1.1.1" targetFramework="net46" />
  <package id="Dynamicweb.Logging" version="4.4.0" targetFramework="net46" />
  <package id="Dynamicweb.LoyaltyPoints" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Mailing" version="3.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Mailing.DeliveryProviders.MandrillProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Mailing.DeliveryProviders.SaveMessageProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Mailing.DeliveryProviders.SendGridProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Mailing.DeliveryProviders.SendMessageProvider" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Management" version="3.1.0" targetFramework="net46" />
  <package id="Dynamicweb.Management.Content" version="2.0.8" targetFramework="net46" />
  <package id="Dynamicweb.Management.Dashboards" version="1.1.1" targetFramework="net46" />
  <package id="Dynamicweb.Management.Demo" version="1.1.1" targetFramework="net46" />
  <package id="Dynamicweb.Management.Ecommerce" version="2.2.5" targetFramework="net46" />
  <package id="Dynamicweb.Management.Files" version="2.2.4" targetFramework="net46" />
  <package id="Dynamicweb.Management.Home" version="2.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Management.Marketing" version="3.4.0" targetFramework="net46" />
  <package id="Dynamicweb.Management.Modules" version="2.0.4" targetFramework="net46" />
  <package id="Dynamicweb.Management.Monitoring" version="3.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Management.Settings" version="2.2.16" targetFramework="net46" />
  <package id="Dynamicweb.Management.Users" version="3.1.0" targetFramework="net46" />
  <package id="Dynamicweb.Maps" version="1.0.4" targetFramework="net46" />
  <package id="Dynamicweb.News" version="1.0.7" targetFramework="net46" />
  <package id="Dynamicweb.Packaging" version="1.4.3" targetFramework="net46" />
  <package id="Dynamicweb.QueryPublisher" version="1.1.4" targetFramework="net46" />
  <package id="Dynamicweb.RemoteHttp" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling" version="2.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.PIM.EmailNotificationsAddIn" version="1.1.1" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.AssortmentItemBuilderScheduledTaskAddIn" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.FeedFileExportTaskAddIn" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.GroupsAsSmartSearchesScheduledTaskAddIn" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.LogsCleanupTaskAddIn" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.PointExpirationScheduledTaskAddIn" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.ProductVersionsCleanup" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.RecurringOrdersScheduledTaskAddIn" version="1.0.1" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.RepositoryAddIn" version="1.1.1" targetFramework="net46" />
  <package id="Dynamicweb.Scheduling.Providers.RunSqlAddIn" version="1.1.1" targetFramework="net46" />
  <package id="Dynamicweb.Security" version="5.2.4" targetFramework="net46" />
  <package id="Dynamicweb.SmartSearch" version="1.1.2" targetFramework="net46" />
  <package id="Dynamicweb.SmartSearch.Providers.Lucene" version="1.0.9" targetFramework="net46" />
  <package id="Dynamicweb.SmartSearch.Providers.User" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.Sms" version="1.0.3" targetFramework="net46" />
  <package id="Dynamicweb.TemplateCompatibilityPack" version="1.0.2" targetFramework="net46" />
  <package id="Dynamicweb.TextEditorAddIns.CKEditor" version="1.0.6" targetFramework="net46" />
  <package id="Dynamicweb.UI.Controls" version="1.8.9" targetFramework="net46" />
  <package id="Dynamicweb.UI.Elements" version="2.5.0" targetFramework="net46" />
  <package id="Dynamicweb.UserManagement" version="2.0.2" targetFramework="net46" />
  <package id="Dynamicweb.WeightedSearch" version="1.0.12" targetFramework="net46" />
  <package id="Facebook" version="7.0.6" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9.5" allowedVersions="[1.4.9.5]" targetFramework="net46" />
  <package id="Klarna.Checkout" version="1.0.4.0" allowedVersions="[1.0.4.0]" targetFramework="net46" />
  <package id="Klarna.Net.Api" version="4.0.0.0" allowedVersions="[4.0.0.0]" targetFramework="net46" />
  <package id="Lucene.Net" version="3.0.3" allowedVersions="[3.0.3]" targetFramework="net46" />
  <package id="Lucene.Net.Contrib" version="3.0.3" allowedVersions="[3.0.3]" targetFramework="net46" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" allowedVersions="[3.8.0]" targetFramework="net46" />
  <package id="MetadataExtractor" version="2.0.0" targetFramework="net46" />
  <package id="Microsoft.AnalyzerPowerPack" version="1.0.1" allowedVersions="[1.0.1]" developmentDependency="true" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" allowedVersions="[5.2.3]" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" allowedVersions="[3.2.3]" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" allowedVersions="[5.2.3]" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" allowedVersions="[5.2.3]" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" allowedVersions="[5.2.3]" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" allowedVersions="[5.2.3]" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" allowedVersions="[3.2.3]" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="1.1.0" allowedVersions="[1.1.0]" developmentDependency="true" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.1.0-rc1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Google" version="3.1.0-rc1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0-rc1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.1.0-rc1" targetFramework="net46" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" allowedVersions="[7.0.0.0]" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" allowedVersions="[1.0.0.0]" targetFramework="net46" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" allowedVersions="[2.1.1]" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" allowedVersions="[8.0.3]" targetFramework="net46" />
  <package id="NHunspell" version="1.2.5554.16953" allowedVersions="[1.2.5554.16953]" targetFramework="net46" />
  <package id="NLog" version="4.2.1" allowedVersions="[4.2.1]" targetFramework="net46" />
  <package id="NuGet.Client" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Commands" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Configuration" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.ContentModel" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Core" version="2.12.0" allowedVersions="[2.12.0]" targetFramework="net46" />
  <package id="NuGet.DependencyResolver" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.DependencyResolver.Core" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Frameworks" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.LibraryModel" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Logging" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.PackageManagement" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Packaging" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Packaging.Core" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Packaging.Core.Types" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.ProjectManagement" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.ProjectModel" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.Types" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.v2" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Protocol.Core.v3" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Repositories" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Resolver" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.RuntimeModel" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="NuGet.Versioning" version="3.3.0" allowedVersions="[3.3.0]" targetFramework="net46" />
  <package id="Owin" version="1.0" allowedVersions="[1.0]" targetFramework="net46" />
  <package id="RazorEngine" version="3.4.1" allowedVersions="[3.4.1]" targetFramework="net46" />
  <package id="SharpZipLib" version="0.86.0" allowedVersions="[0.86.0]" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime.Analyzers" version="1.0.1" allowedVersions="[1.0.1]" developmentDependency="true" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.Analyzers" version="1.0.1" allowedVersions="[1.0.1]" developmentDependency="true" targetFramework="net46" />
  <package id="System.Security.Cryptography.Hashing.Algorithms.Analyzers" version="1.1.0" allowedVersions="[1.1.0]" developmentDependency="true" targetFramework="net46" />
  <package id="xmlrpcnet" version="3.0.0.266" allowedVersions="[3.0.0.266]" targetFramework="net46" />
  <package id="XmpCore" version="5.1.3.1" targetFramework="net46" />
</packages>