html, body
{
	margin:0;
	padding:0;
	height:100%;
}

.header
{
    padding: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #fff;
    background: url(/Admin/Content/Management/ControlBG.gif) left top;
	background-repeat: repeat-x;
	border-bottom:3px solid #BDCCE0;
}
.header h1 
{
	color:#006e12;
	font-size:15px;
	font-weight:normal;
	line-height:30px;
	margin:0;
	display:inline;
}

.header a
{
	margin-left:25px;
	text-decoration:underline;
	color:#15428b;
}

.header a.active
{
	font-weight:bold;
}

.section
{
    display: inline-block;
	margin: 0px 5px; 
}