.ajax-rich-control .combobox {
  display: table;
  position: relative;
  border-collapse: separate !important;
  border-spacing: 0 !important;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.ajax-rich-control .combobox * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ajax-rich-control .combobox .hidden {
  display: none;
}
.ajax-rich-control .combobox.opened > input.combobox-text {
  border-radius: 2px 0 0 0 !important;
}
.ajax-rich-control .combobox > input.combobox-text {
  display: table-cell;
  position: relative;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0 0 0 5px !important;
  min-height: 18px !important;
  line-height: 18px;
  padding-left: 1px;
  padding-right: 1px;
  border: 1px solid #abadb3 !important;
  border-width: 1px 0 1px 1px !important;
  border-radius: 2px 0 0 2px !important;
}
.ajax-rich-control .combobox > input.combobox-text.disabled {
  color: #c3c3c3 !important;
}
.ajax-rich-control .combobox > ul.combobox-list {
  position: absolute;
  list-style: none;
  display: none;
  top: 100%;
  height: auto;
  max-height: 115px;
  width: 100%;
  padding: 2px 2px;
  margin: 0;
  z-index: 10000;
  background-color: #fff;
  border: 1px solid #abadb3;
  border-radius: 0 0 3px 3px;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;
  overflow: auto;
}
.ajax-rich-control .combobox > ul.combobox-list.opened {
  display: block;
}
.ajax-rich-control .combobox > ul.combobox-list li {
  height: 22px;
  line-height: 20px;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
.ajax-rich-control .combobox > ul.combobox-list li.in-focus {
  background-color: #0085CA;
  color: #fff;
}
.ajax-rich-control .combobox > ul.combobox-list li > span {
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin: 0 4px;
  float: left;
}
.ajax-rich-control .combobox > ul.combobox-list li > span:before {
  content: "";
}
.ajax-rich-control .combobox > ul.combobox-list li > a {
  display: inline-block;
  height: 100%;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
  background: none !important;
  padding-bottom: 3px;
  padding-left: 2px;
  padding-top: 3px;
  text-align: left;
}
.ajax-rich-control .combobox > ul.combobox-list li.add-new a {
  font-style: italic !important;
  font-weight: bold;
}
.ajax-rich-control .combobox > div.buttons {
  cursor: pointer;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  border: 1px solid #abadb3 !important;
  border-radius: 0 2px 2px 0 !important;
}
.ajax-rich-control .combobox > div.buttons > a {
  display: block;
  height: 100%;
  width: 14px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}
.ajax-rich-control .combobox > div.buttons > a > span {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 2px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.ajax-rich-control .combobox .combobox-editor {
  margin-bottom: 10px;
  border-spacing: 4px;
}
.ajax-rich-control .combobox .combobox-editor label {
  cursor: default;
}
.ajax-rich-control .combobox .combobox-editor tr {
  margin: 5px 5px;
  vertical-align: middle;
}
.ajax-rich-control .combobox .combobox-editor input,
.ajax-rich-control .combobox .combobox-editor button,
.ajax-rich-control .combobox .combobox-editor select,
.ajax-rich-control .combobox .combobox-editor textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-left: 5px !important;
  background-color: #fff;
  border: 1px solid #abadb3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.ajax-rich-control .combobox .combobox-editor input,
.ajax-rich-control .combobox .combobox-editor select,
.ajax-rich-control .combobox .combobox-editor textarea {
  padding: 0 0 0 5px !important;
}
.ajax-rich-control .combobox .combobox-editor button,
.ajax-rich-control .combobox .combobox-editor select {
  text-transform: none;
}
.ajax-rich-control .combobox .combobox-editor select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.ajax-rich-control .combobox .combobox-editor .editor-field-name {
  min-width: 22px;
  margin-right: 5px;
}
.ajax-rich-control .combobox .combobox-editor .editor-field-value input,
.ajax-rich-control .combobox .combobox-editor .editor-field-value select {
  width: 100%;
  min-width: 150px;
  height: 18px;
}
.ajax-rich-control .combobox .combobox-editor .editor-field-value input:disabled,
.ajax-rich-control .combobox .combobox-editor .editor-field-value select:disabled {
  color: #c3c3c3;
  border-color: #c3c3c3;
}
.ajax-rich-control .combobox .sidebox .boxbody .dialog-button-ok,
.ajax-rich-control .combobox .sidebox .boxbody .dialog-button-cancel {
  height: 23px;
  background-color: #F0F0F0;
  border: 1px solid #abadb3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.ajax-rich-control .combobox .sidebox .boxbody .dialog-button-ok:hover,
.ajax-rich-control .combobox .sidebox .boxbody .dialog-button-cancel:hover {
  background-color: #fff;
}
