@media all
{

  BODY    {
    background-color: threedface;
    margin:-1;border:1px outset;
    font:10pt helvetica;
    width:100%;
  }

  TABLE   {
    font: 9pt helvetica;
  }

  TD  {
	font-size :11px;
	font-family :Verdana, Helvetica, Arial, Tahoma;
	font-weight :Normal;
	font-style :Normal;
	color :#333333;
 }
  
  BUTTON 
  {
	font-size: 11px; 
	font-family: verdana,arial;
  }

  input,select,textarea {font-size: 11px; font-family: Verdana, Helvetica, Arial, Tahoma;}

  .HEADER {
    background-color: #FFFFFF;
    margin:0;
    border:1px outset;
    border-right:0px outset;
    font:16pt helvetica;
    height:45;
    padding-top:10px;
    padding-left:10px;
    width:100%;
  }
  
  .SUBHEADER {
    margin:0;
    font:11pt helvetica;
    font-weight:bold;
  }  

  .FOOTER {
    background-color: threedface;
    margin:0;
    border-top:1px outset;
    height:25;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
    width:100%;
    border-left:0px outset;
    border-right:0px outset;
    border-bottom:0px outset;
  }

  .PAGE   {
    background-color: threedface;
    margin:0;border:1px outset;
    height:280px;width:100%;
    border-right:0px outset;
    overflow:auto;
    font: 9pt helvetica;
    padding:10px
  }

  .TITLE1 {
    font: 16pt helvetica;
    color: #404040;
  }

  .TITLE2 {
    font: 12pt helvetica;
    color: gray;
  }

  .PAGESTATUS 
  {
	margin-left:415px;
    font: 8pt helvetica;
    color: gray;
  }

  .PAGETIMER 
  {
	margin-left:5px;
    font: 8pt helvetica;
    color: gray;
  }


  #BUTTONCANCEL {
    width:80px;
    margin-left:30px;
  }

  #BUTTONNEXT {
    width:80px;
    margin-left:10px;
  }

  #BUTTONPREV {
    width:80px;
    margin-left:20px;
  }

  #BUTTONSTART {
    width:80px;
    margin-left:20px;
  }

  #BUTTONCLOSE {
    display : none;
    width:80px;
    margin-left:20px;
  }


}