/**
 * Basic typography style for text
 * Warning: These styles overrides without the default .dw-mod class, as they all target the most basic required elements
 */
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Hide prices in: Products page > Details list view */
.product-list__details-item__right.dw-mod .u-pull--right {
	display: none !important;
	/* background-color: #ff00ff; */
}
/* Hide prices in: Products page > Grid view */
.price.dw-mod, .before-price {
	display: none !important;
	/* background-color: #ff00ff; */
}
.grid__cell.product-list__grid-item__price-info {
	height: auto;
}
.grid__cell.product__price-actions {
	display: none !important;
}
.product-list__list-item__price-actions {
	display: none !important;
	/* background-color: #ff00ff; */
}
