<?xml version="1.0" encoding="utf-8" ?> 

<Management>


  <!-- Default Action Group -->
  <Actions Group="Default">

    <!-- Edit Profile -->
    <Action Type="Dynamicweb.Management.Actions.OpenScreenAction, Dynamicweb.Management" Title="Edit Profile" Icon="User">
      <Url>/Admin/Module/UserManagement/EditUser.aspx?UserID={userid}</Url>
      <TargetArea>Users</TargetArea>
    </Action>
    
    <!-- Change Password -->
    <!-- /Admin/Content/Management/Pages/ChangePassword.aspx -->
    <Action Type="Dynamicweb.Management.Actions.OpenDialogAction, Dynamicweb.Management" Title="Change Password" Icon="Lock">
      <Url>/Admin/Security/ChangePassword</Url>
    </Action>

    <!-- Signout -->
    <Action Type="Dynamicweb.Management.Actions.OpenScreenAction, Dynamicweb.Management" Title="Sign Out" Icon="SignOut">
      <Url>/Admin/Access/Access_Logoff.aspx</Url>
    </Action>

    <!-- Separator -->
    <Action Type="Dynamicweb.Management.Actions.SeparatorAction, Dynamicweb.Management" Debug="true" />

    <!-- Controls Demo -->
    <Action Type="Dynamicweb.Management.Actions.OpenScreenAction, Dynamicweb.Management" Title="Controls Demo" Icon="Bomb" Debug="true">
      <Url>/Admin/Test</Url>
    </Action>
		
		<!-- Edit language keys -->
		<Action Type="Dynamicweb.Management.Actions.OpenScreenAction, Dynamicweb.Management" Title="Translations" Icon="translate">
			<Url>/Admin/Content/Management/Pages/SystemUserInterface_cpl.aspx</Url>
		</Action> 
    
  </Actions>

  <!-- Default Area Group -->
  <Areas Group="Default">
    <Area Type="Dynamicweb.Management.Home.HomeManagementArea, Dynamicweb.Management.Home">
      <DefaultAction Type="Dynamicweb.Management.Actions.OpenScreenAction, Dynamicweb.Management" Title="Dashboard" Icon="home">
        <Url>/Admin/Dashboard/Home/View</Url>
      </DefaultAction>
    </Area>
    <Area Type="Dynamicweb.Management.Content.ContentArea, Dynamicweb.Management.Content" />
    <Area Type="Dynamicweb.Management.Files.FileManagementArea, Dynamicweb.Management.Files" />
    <Area Type="Dynamicweb.Management.Users.UserManagementArea, Dynamicweb.Management.Users" />
    <Area Type="Dynamicweb.Management.Ecommerce.EcommerceArea, Dynamicweb.Management.Ecommerce" />
		<Area Type="Dynamicweb.Management.Ecommerce.ProductInformationArea, Dynamicweb.Management.Ecommerce" />
		<Area Type="Dynamicweb.Management.Marketing.MarketingAreaWithNavigator, Dynamicweb.Management.Marketing">
      <DefaultAction Type="Dynamicweb.Management.Actions.OpenScreenAction, Dynamicweb.Management" Title="Dashboard" Icon="home">
        <Url>/Admin/Dashboard/Marketing/View</Url>
      </DefaultAction>
    </Area>
    <Area Type="Dynamicweb.Management.Modules.ModulesArea, Dynamicweb.Management.Modules" />
    <Area Type="Dynamicweb.Management.Monitoring.MonitoringManagementArea, Dynamicweb.Management.Monitoring">
      <DefaultAction Type="Dynamicweb.Management.Actions.OpenScreenAction, Dynamicweb.Management" Title="Dashboard" Icon="home">
        <Url>/Admin/Dashboard/Monitoring/View</Url>
      </DefaultAction>
    </Area>
    <Area Type="Dynamicweb.Management.Demo.DemoManagementArea, Dynamicweb.Management.Demo"  />
    <Area Type="Dynamicweb.Management.Settings.TreeManagementArea, Dynamicweb.Management.Settings" />    
  </Areas>

</Management>

  